# Database
DATABASE_URL="postgresql://postgres:root@localhost:5432/saas"

# App
NODE_ENV="development"
PORT="3001"
APP_URL="http://localhost:3001"

# Auth — Phase 1 (générer avec: openssl rand -hex 32)
SESSION_SECRET="change-me-to-a-random-64-char-hex-string-for-production"

# Email — Phase 1 (https://resend.com)
RESEND_API_KEY="re_xxxx"
